.root{
    /*-fx-background-color: bisque;*/
    -fx-background-image: url('images/eurovision-song-contest.jpg');
    -fx-background-size: cover;
}



Button {
    -fx-text-fill: #000066;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: white;
    -fx-opacity: 0.9;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-wrap-text: true;
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#gridpaneLabel{
    -fx-background-color: white;
     -fx-background-radius: 15px;
     -fx-border-radius: 15px;
    -fx-opacity: 0.7;
    -fx-text-color: white;
    -fx-border-color: #003399;
    -fx-border-width: 2px;
    /*-fx-text-border:  #000000;*/
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#charPos{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-color: #ff6347;
}

#row{
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-text-fill: #f2f2f2;
}

#theCol{
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-text-fill: #f2f2f2;
}

#textChange{
-fx-font-size: 14px;
-fx-font-weight: bold;
}